/* progress_bar */

.bui-slider .bui-track.bui-track-video-progress {
    /* height: 3.01px; */
    height: 0.30rem;
    transition: all 120ms;
}

.bui-slider:hover .bui-track.bui-track-video-progress {
    height: 0.50rem;
}

.bui-slider .bui-track.bui-track-video-progress .bui-thumb .bui-thumb-dot svg {}

.bui-slider .bui-track .bui-bar-wrap .bui-bar {
    background: #f25d8e;
    /* height: 100%; */
}

.bui-bar-normal {
    height: 200%;
}

.bilibili-player-video-control-bottom-center {
    display: none;
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control-bottom-right {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-progress-detail-img {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 0 0 3px #f25d8e; */
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-progress-detail-time {
    position: absolute;
    z-index: 2;
    left: 45%;
    top: -100%;
    width: auto;
    line-height: 25px;
    height: auto;
    font-size: 25px;
    background: hsla(0, 0%, 8%, 0.3);
    /* text-shadow: 0 0 4px black; */
    text-shadow: 0 0 2px #f25d8e;
    border-radius: 2px;
    color: #fff;
    vertical-align: top;
    display: inline-block;
}

.bui-slider:hover .bui-track.bui-track-video-progress .bui-thumb .bui-thumb-dot {
    transform: scale(1.25);
}

/* bottom_button */

.bui-button.bui-button-blue,
.bui-button.bui-button-gray3 {
    background-color: #f25d8e;
}

.bui-button.bui-button-blue,
.bui-button.bui-button-gray3:hover {
    background-color: #f25d8e;
}

.bui-switch .bui-checkbox:checked+.bui-body {
    background: #f25d8e;
}

.bui-switch .bui-checkbox:checked+.bui-body .bui-dot {
    color: #f25d8e;
    fill: #f25d8e;
}

/* volume_control */

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn.bilibili-player-video-btn-volume .bilibili-player-video-volumebar-wrp {
    /* background: rgba(0, 0, 0, 0.25); */
    background: rgba(0, 0, 0, 0.8);
    /* box-shadow: 0 0 4rem rgba(250, 200, 217, 0); */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
    /* width: 42px; */
    /* height: 140px; */
    border-radius: 6px;
    transition: all 300ms;
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn.bilibili-player-video-btn-volume .bilibili-player-video-volumebar-wrp:hover {
    /* box-shadow: 0 0 0 1rem rgba(250, 200, 217, 1); */
    box-shadow: 0 0 0 3px #f25d8e;
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn.bilibili-player-video-btn-volume .bilibili-player-video-volumebar-wrp .bilibili-player-video-volume-num {
    color: #e5e9ef;
    width: 100%;
    text-align: center;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 2px;
    font-weight: bold;
}

.bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn.bilibili-player-video-btn-volume .bilibili-player-video-volumebar-wrp .bilibili-player-video-volumebar {
    /* width: 40px; */
    margin: 0 auto;
    /* height: 94px; */
}

.bui-slider .bui-track.bui-track-vertical {
    /* position: relative; */
    width: 3.5px;
    /* height: 95px; */
}

.bui-slider .bui-track.bui-track-vertical .bui-bar-wrap .bui-bar {
    height: 100%;
}

.bui-slider .bui-track.bui-track-vertical .bui-bar-wrap .bui-bar {
    background: #f25d8e;
}

.bui-slider .bui-track .bui-thumb .bui-thumb-dot {
    background-color: #f25d8e;
}

/* active-button */

.bui-select.bui-select-quality-menu .bui-select-item.bui-select-item-active {
    color: #f25d8e;
}

.bui-radio.bui-dark .bui-radio-button .bui-radio-input:checked+.bui-radio-label {
    background: #f25d8e;
}

/* other option */

.bui-select.bui-select-quality-menu .bui-select-list {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4) inset;
    border-radius: 6px;
    transition: all 300ms;
}

.bui-select.bui-select-quality-menu .bui-select-list:hover {
    box-shadow: 0 0 0 3px #f25d8e inset;
}

.bilibili-player-video-control .bilibili-player-video-btn-setting-panel {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4) inset;
    border-radius: 6px;
    transition: all 300ms;
}

.bilibili-player-video-control .bilibili-player-video-btn-setting-panel:hover {
    box-shadow: 0 0 0 3px #f25d8e inset;
}